html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #5F5B53;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.heading--secondary {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26316;
  letter-spacing: -0.76px;
}

.desc--primary {
  color: #5F5B53;
  font-size: 1.8rem;
  line-height: 1.66667;
}

.desc--secondary {
  color: #5F5B53;
  line-height: 1.75;
}

.top-bar {
  padding: 30px 0;
  background-color: #FFFCF4;
}
.top-bar .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.top-bar .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}
.top-bar .nav__item {
  padding: 10px 20px;
  color: #5F5B53;
  line-height: 1.75;
}
.top-bar .nav__item.active {
  color: #171100;
  font-weight: 600;
  line-height: 1.75;
}
.top-bar__cta {
  margin-left: 50px;
}

.hero {
  background-color: #FFFCF4;
}
.hero .container {
  height: calc(100vh - 110px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}
.hero__img-box {
  grid-area: 1/1/2/6;
}
.hero__img-box .img {
  height: calc(100vh - 110px);
  background-image: url(../../assets/img/hero.jpg);
  background-position: -448.75px 0px;
  background-size: 218.672%;
  background-repeat: no-repeat;
}
.hero__card-box {
  height: calc(100vh - 110px);
  grid-area: 1/4/2/7;
  position: relative;
}
.hero__card-box .card {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.hero__card-box .card__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 22px;
}
.hero__card-box .card__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.hero__card-box .card__item:nth-child(1) .card__img {
  background-color: #FFF9E8;
}
.hero__card-box .card__item:nth-child(2) .card__img {
  background-color: #FCEFFF;
}
.hero__card-box .card__item:nth-child(3) .card__img {
  background-color: #EBEAFF;
}
.hero__card-box .card__item p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__card-box .card__item p span:first-child {
  color: #5F5B53;
  font-size: 1.4rem;
  line-height: 1.85714;
}
.hero__card-box .card__item p span:last-child {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667;
}
.hero__card-box .card__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.hero__text-box {
  grid-area: 1/8/2/13;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero__text-box .hero__heading {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17241;
  letter-spacing: -1.16px;
}
.hero__text-box .hero__desc {
  margin: 20px 0 40px;
  color: #5F5B53;
  font-size: 1.8rem;
  line-height: 1.66667;
}
.hero__text-box .hero__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.hero__text-box .hero__cta a:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.hero__text-box .hero__cta a:last-child img {
  border-radius: 50%;
  padding: 14px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero__text-box .hero__cta a:last-child span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667;
}
.hero__text-box .hero__engagement {
  margin-top: 50px;
}
.hero__text-box .hero__engagement .engagement__title, .hero__text-box .hero__engagement .engagement__info {
  color: #5F5B53;
  font-size: 18px;
  line-height: 1.66667;
}
.hero__text-box .hero__engagement .engagement__details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.hero__text-box .hero__engagement .engagement__info strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2272;
  margin-right: 10px;
}

.courses {
  margin: 200px 0;
}
.courses .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.courses__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.courses__text-box .courses__desc {
  max-width: 460px;
}
.courses__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.courses__cta-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #FFB900;
  cursor: pointer;
  transition: all 0.3s;
}
.courses__cta-btn:hover {
  background-color: #FFB900;
}
.courses__cta-btn:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(10%) hue-rotate(247deg) brightness(105%) contrast(103%);
}
.courses__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 55px;
}
.courses__card {
  border-radius: 12px;
  border: 1px solid #E2DFDA;
  cursor: pointer;
  transition: all 0.3s;
}
.courses__card:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.courses__card:hover .card__btn {
  background-color: #FFB900;
  color: #FFF;
}
.courses__card .card__img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.courses__card .card__text-box {
  padding: 16px 22px;
}
.courses__card .card__name, .courses__card .card__price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667;
}
.courses__card .card__info {
  margin: 6px 0 12px;
  color: #5F5B53;
  font-size: 1.4rem;
  line-height: 1.85714;
}
.courses__card .card__btn {
  min-width: 118px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85714;
  transition: all 0.3s;
}

.testimonial {
  background-color: #2E2100;
}
.testimonial .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 100px 0;
}
.testimonial__author-box {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.testimonial__author-box .author__avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.testimonial__author-box .author__name {
  margin: 18px 0 4px;
  color: #F7F7F7;
  font-family: "Sen", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41667;
}
.testimonial__author-box .author__major {
  color: #BFBCB2;
  font-size: 1.4rem;
  line-height: 1.85;
}
.testimonial__cta {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.testimonial__text-box {
  grid-area: 1/2/2/4;
  position: relative;
}
.testimonial__text-box .testimonial__text {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #FFF;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

.features {
  margin: 200px 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}
.features__img-box {
  grid-area: 1/1/2/7;
  display: flex;
  gap: 30px;
}
.features__img-box .features__img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.features__img-box .features__img:first-child {
  margin-top: 30px;
}
.features__text-box {
  grid-area: 1/8/2/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.features__text-box .features__desc {
  margin-top: 16px;
}
.features__text-box .features__cta {
  margin-top: 32px;
  display: inline-block;
}
.features:last-child .features__img-box {
  grid-area: 1/8/2/13;
}
.features:last-child .features__img-box .features__img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 16px;
}
.features:last-child .features__text-box {
  grid-area: 1/1/2/7;
}

.blog {
  padding: 100px;
  background-color: #FFFCF4;
}
.blog__text-box {
  text-align: center;
}
.blog__text-box .blog__desc {
  margin-top: 16px;
  margin: 16px auto 55px;
  max-width: 450px;
}
.blog__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.blog__item {
  border-radius: 16px;
  background: #FFF;
  transition: all 0.3s;
  cursor: pointer;
}
.blog__item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog__item:hover .item__btn {
  background-color: #FFB900;
}
.blog__item .item__text-box {
  padding: 20px 30px;
}
.blog__item .item__img {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog__item .item__date {
  color: #5F5B53;
  font-size: 1.4rem;
  line-height: 1.85;
  position: relative;
  margin-left: 14px;
}
.blog__item .item__date::before {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-100%, -50%);
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFB900;
}
.blog__item .item__line {
  margin: 12px 0;
  width: 160px;
  height: 1px;
  border-radius: 99px;
  background: #E2DFDA;
}
.blog__item .item__title {
  color: #171100;
  font-weight: 600;
  line-height: 1.75;
}
.blog__item .item__cta {
  margin-top: 12px;
  display: inline-block;
}
.blog__item .item__btn {
  min-width: 118px;
  transition: all 0.3s;
}
.blog__cta {
  margin-top: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 144px;
  height: 50px;
  color: #FFF;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 99px;
}

.btn--dark {
  background-color: #171100;
}

.btn--light {
  background-color: #FFB900;
}

.cta-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
  cursor: pointer;
}
.cta-dot.active {
  background-color: #FFB900;
}

/*# sourceMappingURL=main.css.map */
