@use "../base";

.features-01 {
    margin: 200px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }

    &__img-box {
        grid-area: 1 / 1 / 2 / 7;
        display: flex;
        gap: 30px;

        .features-01__img {
            width: 270px;
            height: 405px;
            object-fit: cover;
            border-radius: 16px;

            &:first-child {
                margin-top: 30px;
            }
        }
    }

    &__text-box {
        grid-area: 1 / 8 / 2 / 13;
        @include base.flexBox(column, center, flex-start);

        .features-01 {
            &__desc {
                margin-top: 16px;
            }

            &__cta {
                margin-top: 32px;
                display: inline-block;
            }
        }
    }
}

.features-02 {
    margin: 200px 0;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }

    &__img-box {
        grid-area: 1 / 8 / 2 / 13;
        display: flex;
        gap: 30px;

        .features-02__img {
            width: 470px;
            height: 405px;
            object-fit: cover;
            border-radius: 16px;

            &:first-child {
                margin-top: 30px;
            }
        }
    }

    &__text-box {
        grid-area: 1 / 1 / 2 / 7;
        @include base.flexBox(column, center, flex-start);

        .features-02 {
            &__desc {
                margin-top: 16px;
            }

            &__cta {
                margin-top: 32px;
                display: inline-block;
            }
        }
    }
}