.heading--secondary {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316;
    letter-spacing: -0.76px;
}

.desc--primary {
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.66667;
}

.desc--secondary {
    color: #5F5B53;
    line-height: 1.75;
}